body {
  background-color: rgb(33, 33, 33)
}

.App {
  text-align: center;
  margin-top: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255)
}

.AudioClip a {
  color: rgb(0, 0, 0);
}

.LoggedIn {
  display: grid;
  justify-items: center;
  grid-template-columns: auto 1100px auto;
  grid-template-rows: 60px;
  grid-gap: 20px 20px;
}

.NotLoggedIn {
  display: grid;
  justify-items: center;
  grid-template-columns: auto 1100px auto;
  grid-template-rows: 60px;
  grid-gap: 20px 20px;
}

#navBar {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  border: 2px solid black;
  box-shadow: 4px 4px 1px 0px black;
}

#userLogin {
  display: flex;
}

#userLogin h5{
  margin-left: 5px;
  margin-right: 5px;
}

#Analysis {
  display: flex;
  justify-content: space-around;
}

#playAudioClip {
  display: flex;
  justify-content: space-around;
}

#audioContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  width: 100%;
  height: 100%;

  display: grid;
  justify-content: center;
  grid-template-columns: 200px 800px;
  grid-template-rows: 300px auto;
  grid-gap: 20px 20px;

}

.form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  width: 100%;
  height: 100%;

  display: block;
  justify-content: center;
  grid-template-columns: 200px 800px;
  grid-template-rows: 300px auto;
  grid-gap: 20px 20px;
  background-color: rgb(60, 60, 60);
}

.form h1{
  margin-bottom: 0px;
}

#userClipsList {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  width: 100%;
  height: 100%;

  font-size: 11pt;
  text-align: left;

  border: 2px solid black;
  box-shadow: 4px 4px 1px 0px black;
  background-color: rgb(60, 60, 60);
}

#uploadClipButton {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

#loadedClipContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  width: 100%;
  /* height: 100%; */

  display: grid;
  justify-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 408px auto;
  grid-gap: 20px 0px;
  background-color: rgb(60, 60, 60);
  border: 2px solid black;
  box-shadow: 4px 4px 1px 0px black;
}

.loadedClipWave {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  width: 100%;
  height: 100%;

  /* border: 2px solid black; */
  /* box-shadow: 4px 4px 0px 0px black; */
}

.loadedClipWave button {
  margin-bottom: 10px;
}

#spectralAnalysis {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  /* grid-row-end: 3; */

  border: 2px solid black;
  /* box-shadow: 4px 4px 0px 0px black; */
}

#clipName {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#transport {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.audioClipUpdate {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#waveform {
  border: 2px solid rgb(0, 0, 0)
}

#demoWave {
  width: 760px;
  height: 200px;
  border: 2px solid rgb(0, 0, 0);
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 50%,rgba(255,255,255,0.6) 50%), url('http://www.ni.com/cms/images/devzone/tut/Arbitrary_Waveform_1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
