.App {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.LoggedIn .NotLoggedIn {
  display: flex;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
}

#navBar {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  margin: 10px;
  width: 90%;
  justify-content: space-between;
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  box-shadow: 4px 4px 1px 0px black;
}

#userLogin {
  display: flex;
}

#userLogin h5{
  margin-left: 5px;
  margin-right: 5px;
}

#userLogin a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#audioContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#userClipsList {

}
